language: php

addons:
  apt:
    packages:
      - sshpass

# blocklist
branches:
  except:
  - master

# safelist
branches:
  only:
  - dev

#before_script:
#  - composer install
#

script:
#  - phpunit
   - return 0

after_success:
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "dev" && export SSHPASS=$DEPLOY_PASS
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "dev" && sshpass -e ssh -o StrictHostKeyChecking=no $DEPLOY_USER@$DEPLOY_HOST -p $DEPLOY_PORT 'cd /var/www/html && chmod +x deploy.sh && ./deploy.sh'