<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Nouveau contact
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="myModalLabel">Nouveau contact</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="{{ path('addContactModal') }}" method="post">
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fa fa-user-plus fa-4x mb-3 animated rotateIn"></i>
                    </div>
                    <div class="form-group">
                        <label for="nom">NOM</label>
                        <input type="text" class="form-control" name="nom" id="nom">
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" class="form-control" name="prenom" id="prenom">
                    </div>
                    <div class="form-group">
                        <label for="mail">Email</label>
                        <input type="text" class="form-control" name="mail" id="mail">
                    </div>
                    <div class="form-group">
                        <label for="telephone">Téléphone</label>
                        <input type="text" class="form-control" name="telephone" id="telephone">
                    </div>

                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-warning">Valider</button>
                    <button type="button" class="btn btn-outline-warning waves-effect" data-dismiss="modal">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>