<div class="modal modal-danger fade" id="deleteEtudiantModal-{{ etudiant.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Suppression d'un étudiant</h4>
            </div>
            <div class="modal-body">
                <p>Vous allez supprimer l'étudiant ({{ etudiant.nomEtudiant }} {{ etudiant.prenomEtudiant }}).</br>Êtes-vous sûr ?</p>
            </div>
            <div class="modal-footer">
                <a href="{{ path('deleteEtudiant', {'id': etudiant.id}) }}" type="button" class="btn btn-outline">OUI <i class="fa fa-check"></i></a>
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">NON</button>
            </div>
        </div>
    </div>
</div>
