<div class="modal modal-primary fade" id="showProfCommentModal-{{ unCommentaire.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                {{ unCommentaire.comment }}
            </div>
        </div>
    </div>
</div>
